@import "tailwindcss";
@theme{
  --color-primary: #0F4C81;
  --color-secondary: #7DD3FC;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
}
